@page "/"
@using Project_Floptropica.Shared.Services
@inject IFormFactor FormFactor

<h1>Soundboard</h1>

<div class="soundboard">
    @foreach (var sound in Sounds)
    {
        <button @onclick="() => PlaySound(sound.FilePath)">@sound.Name</button>
    }
</div>

@code {
    private List<Sound> Sounds = new()
    {
        new Sound("Clap", "sounds/clap.mp3"),
        new Sound("Bell", "sounds/bell.mp3"),
        new Sound("Whistle", "sounds/whistle.mp3")
    };


    private async Task PlaySound(string filePath)
    {
        
    }

    private class Sound
    {
        public string Name { get; set; }
        public string FilePath { get; set; }

        public Sound(string name, string filePath)
        {
            Name = name;
            FilePath = filePath;
        }
    }
}
